body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

section {
  margin-bottom: 130px;
}

/* style for Top Banner Section */

.top-banner {
  text-align: center;
  color: #ffffff;
  padding: 120px 250px;
  background-image: url(images/donation4.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
}

h1 {
  font-size: 65px;
  font-weight: 700;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.link-button {
  text-decoration: none;
  text-align: center;
  padding: 16px 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  background-color: #ff5959;
  border-radius: 5px;
}
/* End Top Banner Section */

/* style for Donate Today Section  */

.donate-area {
  text-align: center;
  padding: 0 290px;
}

h2 {
  font-size: 45px;
  font-weight: 700px;
  color: black;
}
.select-amount {
  display: flex;
  margin-bottom: 50px;
}
.amount-item {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  display: inline-block;
  width: 130px;
  font-weight: 700;
  color: #707070;
  background-color: #fafafa;
  padding: 45px 0;
  border-radius: 5px;
  margin: 0 10px;
}

#default-amount-item {
  color: #ff5959;
  background: #ffeeee;
  border: 2px solid #ff5959;
}
