body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

section {
  margin-bottom: 130px;
}

/* style for Top Banner Section */

.top-banner {
  text-align: center;
  color: #ffffff;
  padding: 120px 250px;
  background-image: url(images/donation4.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
}

h1 {
  font-size: 65px;
  font-weight: 700;
}

p {
  font-size: 18px;
  margin-bottom: 30px;
}

.link-button {
  text-decoration: none;
  text-align: center;
  padding: 16px 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  background-color: #ff5959;
  border-radius: 5px;
}
/* End Top Banner Section */

/* style for Donate Today Section  */

